$open-sans-typography: "Open Sans";

$post-author-name-font-size: 28px;
$post-author-name-font-color: #5c5146;

$post-author-comment-font-size: 13px;
$post-author-comment-font-color: #8e8071;

$bottom-icons-font-family: "PT Sans", sans-serif;
$bottom-icons-font-size: 16px;

$bottom-icons-font-color-normal: #b1a599;
$bottom-icons-font-color-over: #928f8c;
$bottom-icons-font-color-active: #e86741;
