// Blog Post
// ============
//
// The content of this file holds the styles for the blog post.

// Import the background styles.
@import "_background";

// Import the colors.
@import "_colors";

// Import the measures.
@import "_measures";

// Import the typography's.
@import "_typos";

body {
	margin: 0;
}

#wrapper {
	text-align: center;
	width: 100%;
}

/* Import the "top bar" styles. */
@import "top-bar";

#post-container {
  	background-color: $post-background-color;
  	border-radius: $post-border-radius;
  	display: none;
  	height: $post-height;
  	left: 50%;
  	margin-left: -1 * ($post-width / 2);
  	margin-top: -1 * $post-height / 2;
  	position: absolute;
  	top: 50%;
  	width: $post-width;
}

#post-picture {
	float: left;
  	height: 204px;
  	width: 100%;
}

/* Import the styles for the circle profile pic. */
@import "circle-profile-pic";

#post-author {
  	display: table;
  	float: left;
  	height: 140px;
  	width: 100%;

  	.col {
	  	display: table-cell;
	  	vertical-align: middle;
	}

  	#post-author-pic {
		width: 33.33%;
	}

  	#post-author-data {
	  	width: 66.67%;

	  	label {
		  	color: $post-author-name-font-color;
			display: block;
		  	font-family: $open-sans-typography;
		  	font-size: $post-author-name-font-size;
		  	text-align: left;
		}

	  	p {
			display: block;
		  	margin: 0;
			text-align: left;
	  	}
	}
}

#post-options {
  	display: table;
	float: left;
  	height: 48px;
	width: 100%;

	.post-option-column {
		background-color: $bottom-column-color;
		display: table-cell;
		vertical-align: middle;
	}

  	.post-option-column:nth-child(1) {
		border-bottom-left-radius: $post-border-radius;
	}

  	.post-option-column:nth-child(3) {
		border-bottom-right-radius: $post-border-radius;
	}

	.corner-option-column {
		width: 33%;
	}

	.central-option-column {
	  	border-color: #ffffff;
	  	border-top-width: 0;
	  	border-bottom-width: 0;
	  	border-left-width: 1px;
	  	border-right-widows: 1px;
	  	border-style: solid;
		width: calc(34% - 2px);
	}
}
