body {
  /* Location of the image */
  background-image: url("../assets/images/background-image.jpg");
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  /* Makes the image fixed in the viewport so that it doesn't move when the content height is greater than the image height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color: #d6c49c; }

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    background-image: url("../assets/images/background-image-for-mobile.jpg"); } }
body {
  margin: 0; }

#wrapper {
  text-align: center;
  width: 100%; }

/* Import the "top bar" styles. */
#top-bar {
  background-color: #ededed;
  float: left;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%; }
#top-bar .langs {
  margin: 0;
  padding: 0; }
#top-bar .langs-item {
  display: inline;
  list-style: none; }
#top-bar .langs-link {
  color: #636363;
  font-family: "Open Sans";
  font-size: 12px;
  text-decoration: none; }

#post-container {
  background-color: #ffffff;
  border-radius: 5px;
  display: none;
  height: 392px;
  left: 50%;
  margin-left: -185px;
  margin-top: -196px;
  position: absolute;
  top: 50%;
  width: 370px; }

#post-picture {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: left;
  height: 204px;
  overflow: hidden;
  width: 100%; }

/* Import the styles for the circle profile pic. */
.circle {
  -moz-border-radius: 99em;
  -webkit-border-radius: 99em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  display: block;
  height: 90px;
  margin: 1em auto;
  width: 90px; }

#post-author {
  display: table;
  float: left;
  height: 140px;
  width: 100%; }
#post-author .col {
  display: table-cell;
  vertical-align: middle; }
#post-author #post-author-pic {
  width: 33.33%; }
#post-author #post-author-data {
  width: 66.67%; }
#post-author #post-author-data label {
  color: #5c5146;
  display: block;
  font-family: "Open Sans";
  font-size: 28px;
  text-align: left; }
#post-author #post-author-data p {
  color: #8e8071;
  display: block;
  font-family: "Open Sans";
  font-size: 13px;
  margin: 0;
  text-align: left; }

#post-options {
  display: table;
  float: left;
  height: 48px;
  width: 100%; }
#post-options .post-option-column {
  background-color: #f6f1ed;
  display: table-cell;
  vertical-align: middle; }
#post-options .post-option-column:nth-child(1) {
  border-bottom-left-radius: 5px; }
#post-options .post-option-column:nth-child(3) {
  border-bottom-right-radius: 5px; }
#post-options .corner-option-column {
  width: 33%; }
#post-options .central-option-column {
  border-color: #ffffff;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  width: calc(34% - 2px); }

.bottom-anchor {
  color: #b1a599;
  cursor: pointer;
  display: inline-table;
  font-size: 1.5em; }

.bottom-anchor:hover {
  color: #928f8c; }

.bottom-anchor i {
  display: table-cell;
  vertical-align: middle; }

.bottom-label {
  color: #b1a599;
  display: table-cell;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  vertical-align: middle; }

.bottom-label:hover {
  color: #928f8c; }

/* Import the hearth styles */
.post_full .post_control {
  cursor: pointer;
  display: block;
  height: 20px;
  margin: 0;
  position: relative;
  text-align: left;
  width: 28px; }

.post_full .post_control:after {
  background: url(../assets/images/dashboard_master_sprite.png) no-repeat;
  content: '';
  height: 24px;
  left: 50%;
  margin: -10px 0 0 -14px;
  opacity: .30;
  position: absolute;
  top: 50%;
  visibility: visible;
  width: 24px; }

.post_full .post_control:first-child {
  margin-left: 0; }

.post_full .post_control:hover:after, .post_full .post_control.active:after {
  opacity: .41; }

.post_full .post_control.no_icon, .post_full .post_control.no_icon.show_label {
  padding-left: 5px;
  vertical-align: top;
  width: auto; }

.post_full .post_control.no_icon:hover {
  color: rgba(130, 139, 152, 0.9); }

.post_full .post_control.no_icon:after {
  display: none; }

.post_full .post_control.disabled {
  cursor: default; }

.post_full .post_control.disabled:after {
  opacity: .3; }

.post_full .post_control.like:after {
  background-position: -497px -212px; }

.post_full .post_control.like.liked:after {
  background-position: -526px -212px;
  opacity: 1; }

.post_full .post_poof {
  animation: post_poof .6s ease-out;
  background: url(../assets/images/dashboard_master_sprite.png) no-repeat;
  display: block;
  height: 54px;
  left: 50%;
  margin: -27px 0 0 -27px;
  moz-animation: post_poof .6s ease-out;
  moz-transform-origin: 50% 50%;
  ms-animation: post_poof .6s ease-out;
  ms-transform-origin: 50% 50%;
  o-animation: post_poof .6s ease-out;
  o-transform-origin: 50% 50%;
  position: absolute;
  top: 50%;
  transform-origin: 50% 50%;
  webkit-animation: post_poof .6s ease-out;
  webkit-transform-origin: 50% 50%;
  width: 54px;
  z-index: 100; }

.post_full .post_control .post_poof {
  top: -27px; }

.post_full .post_animated_heart {
  animation: like_poof .6s ease-out;
  background-position: 0 -420px;
  moz-animation: like_poof .6s ease-out;
  ms-animation: like_poof .6s ease-out;
  o-animation: like_poof .6s ease-out;
  webkit-animation: like_poof .6s ease-out; }

.post_full .post_animated_heart span {
  display: none; }

.post_full .post_animated_heart.unliked {
  animation: none;
  background: transparent;
  moz-animation: none;
  ms-animation: none;
  o-animation: none;
  webkit-animation: none; }

.post_full .post_animated_heart.unliked span {
  background: url(../assets/images/dashboard_master_sprite.png) no-repeat;
  display: block;
  height: 100%;
  left: 50%;
  margin-left: 3px;
  position: absolute;
  top: 0; }

.post_full .post_animated_heart.unliked span.heart_left {
  animation: unlike_heartbreak_left .6s ease-out;
  background-position: 0 -360px;
  margin-left: -29px;
  moz-animation: unlike_heartbreak_left .6s ease-out;
  moz-transform-origin: 26px 54px;
  ms-animation: unlike_heartbreak_left .6s ease-out;
  ms-transform-origin: 26px 54px;
  o-animation: unlike_heartbreak_left .6s ease-out;
  o-transform-origin: 26px 54px;
  transform-origin: 26px 54px;
  webkit-animation: unlike_heartbreak_left .6s ease-out;
  webkit-transform-origin: 26px 54px;
  width: 26px; }

.post_full .post_animated_heart.unliked span.heart_right {
  animation: unlike_heartbreak_right .6s ease-out;
  background-position: -29px -360px;
  moz-animation: unlike_heartbreak_right .6s ease-out;
  moz-transform-origin: 0 54px;
  ms-animation: unlike_heartbreak_right .6s ease-out;
  ms-transform-origin: 0 54px;
  o-animation: unlike_heartbreak_right .6s ease-out;
  o-transform-origin: 0 54px;
  transform-origin: 0 54px;
  webkit-animation: unlike_heartbreak_right .6s ease-out;
  webkit-transform-origin: 0 54px;
  width: 29px; }

#posts.posts {
  list-style-type: none;
  margin: 100px auto;
  text-align: center;
  vertical-align: middle;
  width: 100%; }

#posts.posts > .post_container {
  margin: 0 0 20px; }

#posts.posts > li:last-child {
  margin: 0; }

#posts.posts .post {
  clear: both; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 21), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .post_full .post_info .reblog_icon, .post_full .post_avatar:after, .post_full .post_control:after, .post_full .post_animated_heart, .post_full .post_animated_heart.unliked span, .post_full .post_info .private_label:after, .post_full .post_avatar.show_user_menu .post_avatar_link:after, .share_options a:before, #posts .post .post_controls .photo_reply_placeholder, #posts .post .post_control.photo_reply .photo_reply_icon_base {
    background-image: url(../assets/images/dashboard_master_sprite_2x.png);
    background-size: 972px 471px; }

  #blog_url_arrow {
    background-image: url(../assets/images/dashboard_controls_sprite_2x.png);
    background-size: 473px 2700px; }

  .post.post_full .post_permalink {
    background-image: url(../assets/images/dogear_2x.png);
    background-size: 23px 23px; }

  .post_full .post_answer_avatar:after {
    background-image: url(../assets/images/post_answer_input_nipple_2x.png);
    background-size: 30px 20px; } }
@-webkit-keyframes like_poof {
  0% {
    opacity: 1;
    webkit-transform: rotate(0deg); }
  25% {
    opacity: 1;
    webkit-transform: rotate(-20deg); }
  75% {
    webkit-transform: rotate(20deg); }
  100% {
    margin-top: -80px;
    opacity: 0;
    webkit-transform: rotate(0deg); } }
@-moz-keyframes like_poof {
  0% {
    moz-transform: rotate(0deg);
    opacity: 1; }
  25% {
    moz-transform: rotate(-20deg);
    opacity: 1; }
  75% {
    moz-transform: rotate(20deg); }
  100% {
    margin-top: -80px;
    moz-transform: rotate(0deg);
    opacity: 0; } }
@-ms-keyframes like_poof {
  0% {
    ms-transform: rotate(0deg);
    opacity: 1; }
  25% {
    ms-transform: rotate(-20deg);
    opacity: 1; }
  75% {
    ms-transform: rotate(20deg); }
  100% {
    margin-top: -80px;
    ms-transform: rotate(0deg);
    opacity: 0; } }
@-o-keyframes like_poof {
  0% {
    opacity: 1;
    o-transform: rotate(0deg); }
  25% {
    opacity: 1;
    o-transform: rotate(-20deg); }
  75% {
    o-transform: rotate(20deg); }
  100% {
    margin-top: -80px;
    opacity: 0;
    o-transform: rotate(0deg); } }
@keyframes like_poof {
  0% {
    opacity: 1;
    transform: rotate(0deg); }
  25% {
    opacity: 1;
    transform: rotate(-20deg); }
  75% {
    transform: rotate(20deg); }
  100% {
    margin-top: -80px;
    opacity: 0;
    transform: rotate(0deg); } }
@-webkit-keyframes unlike_heartbreak_left {
  0% {
    margin-top: -36px;
    opacity: 1;
    webkit-transform: rotate(0deg); }
  30% {
    margin-top: -36px;
    opacity: 1; }
  80% {
    margin-top: 0;
    opacity: 0;
    webkit-transform: rotate(-15deg); }
  100% {
    margin-top: 0;
    opacity: 0;
    webkit-transform: rotate(-15deg); } }
@-moz-keyframes unlike_heartbreak_left {
  0% {
    margin-top: -36px;
    moz-transform: rotate(0deg);
    opacity: 1; }
  30% {
    margin-top: -36px;
    opacity: 1; }
  80% {
    margin-top: 0;
    moz-transform: rotate(-15deg);
    opacity: 0; }
  100% {
    margin-top: 0;
    moz-transform: rotate(-15deg);
    opacity: 0; } }
@-ms-keyframes unlike_heartbreak_left {
  0% {
    margin-top: -36px;
    ms-transform: rotate(0deg);
    opacity: 1; }
  30% {
    margin-top: -36px;
    opacity: 1; }
  80% {
    margin-top: 0;
    ms-transform: rotate(-15deg);
    opacity: 0; }
  100% {
    margin-top: 0;
    ms-transform: rotate(-15deg);
    opacity: 0; } }
@-o-keyframes unlike_heartbreak_left {
  0% {
    margin-top: -36px;
    opacity: 1;
    o-transform: rotate(0deg); }
  30% {
    margin-top: -36px;
    opacity: 1; }
  80% {
    margin-top: 0;
    opacity: 0;
    o-transform: rotate(-15deg); }
  100% {
    margin-top: 0;
    opacity: 0;
    o-transform: rotate(-15deg); } }
@keyframes unlike_heartbreak_left {
  0% {
    margin-top: -36px;
    opacity: 1;
    transform: rotate(0deg); }
  30% {
    margin-top: -36px;
    opacity: 1; }
  80% {
    margin-top: 0;
    opacity: 0;
    transform: rotate(-15deg); }
  100% {
    margin-top: 0;
    opacity: 0;
    transform: rotate(-15deg); } }
@-webkit-keyframes unlike_heartbreak_right {
  0% {
    margin-top: -36px;
    opacity: 1;
    webkit-transform: rotate(0deg); }
  30% {
    margin-top: -36px;
    opacity: 1; }
  80% {
    margin-top: 0;
    opacity: 0;
    webkit-transform: rotate(15deg); }
  100% {
    margin-top: 0;
    opacity: 0;
    webkit-transform: rotate(15deg); } }
@-moz-keyframes unlike_heartbreak_right {
  0% {
    margin-top: -36px;
    moz-transform: rotate(0deg);
    opacity: 1; }
  30% {
    margin-top: -36px;
    opacity: 1; }
  80% {
    margin-top: 0;
    moz-transform: rotate(15deg);
    opacity: 0; }
  100% {
    margin-top: 0;
    moz-transform: rotate(15deg);
    opacity: 0; } }
@-ms-keyframes unlike_heartbreak_right {
  0% {
    margin-top: -36px;
    ms-transform: rotate(0deg);
    opacity: 1; }
  30% {
    margin-top: -36px;
    opacity: 1; }
  80% {
    margin-top: 0;
    ms-transform: rotate(15deg);
    opacity: 0; }
  100% {
    margin-top: 0;
    ms-transform: rotate(15deg);
    opacity: 0; } }
@-o-keyframes unlike_heartbreak_right {
  0% {
    margin-top: -36px;
    opacity: 1;
    o-transform: rotate(0deg); }
  30% {
    margin-top: -36px;
    opacity: 1; }
  80% {
    margin-top: 0;
    opacity: 0;
    o-transform: rotate(15deg); }
  100% {
    margin-top: 0;
    opacity: 0;
    o-transform: rotate(15deg); } }
@keyframes unlike_heartbreak_right {
  0% {
    margin-top: -36px;
    opacity: 1;
    transform: rotate(0deg); }
  30% {
    margin-top: -36px;
    opacity: 1; }
  80% {
    margin-top: 0;
    opacity: 0;
    transform: rotate(15deg); }
  100% {
    margin-top: 0;
    opacity: 0;
    transform: rotate(15deg); } }
.post {
  display: inline-table;
  height: 20px;
  margin: 0;
  width: 25px; }

/*# sourceMappingURL=index.css.map */
