html {
	-moz-background-size: cover;
  	-o-background-size: cover;
  	-webkit-background-size: cover;
	background: url("../assets/images/background-image.jpg") no-repeat center center fixed;
  	background-size: cover;
}
