$top-bar-background-color: #ededed;

$top-bar-links-color: #636363;

$form-background-color: #ffffff;

$label-color: #8e8071;

$input-border-color: #e5d4c2;

$submit-container-background-color: #f8f3f0;