$form-width: 370px;
$form-height: 460px;

$form-container-top-padding: 30px;

$form-border-radius: 5px;

$full-size-row-bottom-margin: 6px;
$full-size-row-bottom-margin-larger: 15px;
$full-size-row-left-padding: 30px;
$full-size-row-right-padding: 30px;

$tag-holder-padding: 5px;

$input-border-radius: 5px;
$input-border-width: 1px;
$input-padding: 15px;

$text-area-height: 106px;
