$form-width: 370px;
$form-height: 460px;

$form-container-top-padding: 20px;

$form-border-radius: 5px;

$full-size-row-bottom-margin: 8px;
$full-size-row-left-padding: 20px;
$full-size-row-right-padding: 20px;

$input-border-radius: 5px;
$input-border-width: 1px;
$input-padding: 15px;

