// Contact Form
// ============
//
// The content of this file holds the styles for the contact form.

// Import the colors.
@import "_colors";

body {
	background-color: $page-background-color;
}

#wrapper {
	text-align: center;
	width: 100%;
}

#form-container {
	background-color: $form-background-color;
	border-radius: $form-border-radius;
	height: 460px;
	left: 50%;
	margin-left: -172px;
	margin-top: -230px;
	padding-top: 20px;
	position: absolute;
	top: 50%;
	width: 370px;
}

.full-size-row {
	float: left;
	width: 100%;
}

.full-size-row label {
	color: $label-color;
	font-family: "Open Sans";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

