$top-bar-background-color: #ededed;

$top-bar-links-color: #636363;

$profile-background-color: #ffffff;

$profile-header-background-color: #b1a599;

$profile-option-hover-color: #f8f3f0;
$profile-option-border-left-hover-color: 4daf7b;
