$post-height: 310px;
$post-width: 280px;

$post-border-radius: 5px;

$padding-top-profile-not-found: 40px;

$list-option-margin-bottom: 20px;
$list-option-margin-top: 20px;

$list-option-margin-left: 20px;
$list-option-margin-right: 20px;
