$post-height: 310px;
$post-width: 280px;

$post-border-radius: 5px;

$padding-top-profile-not-found: 40px;

$list-option-padding-bottom: 12px;
$list-option-padding-top: 12px;

$list-option-padding-left: 20px;
$list-option-padding-right: 20px;

$profile-option-border-left-width: 3px;
