$open-sans-typography: "PT Sans", sans-serif;

$profile-name-font-color: #ffffff;
$profile-name-font-family: "PT Sans", sans-serif;
$profile-name-font-size: 17;

$profile-followers-font-color: #3a2f24;
$profile-followers-font-family: "PT Sans", sans-serif;
$profile-followers-font-size: 13
